*{
    margin: 0;
    padding: 0;
}
body{
    min-width : 500px;
    background: rgb(2,0,36);
    background: linear-gradient(166deg, rgba(2,0,36,1) 0%, rgba(42,42,204,0.8954175420168067) 14%, rgba(0,212,255,1) 78%);
    padding:10px
    font-family: 'Montserrat', sans-serif;
}
#topBar{

    /* background-color: #28344f; */
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px dashed gray; */
    padding: 5px 0;
    margin-bottom: 5px;
}
img{
    width: 25px;
    maring:5px
    cursor: pointer;
}

#logitech_logo{
    width: 75px;
    object-fit:"contain"
}

#selectedTextWrapper{
    display: flex;
    margin-bottom: 5px;
    font-size: 16px;
}

.iconContent{
    border: 2px none none;
    border-radius: 2px;
    background-color: white;
    color: #002244;
    padding: 5px;
}

.selectedContent{
    background-color: white;
    min-height:150 ;
    border-radius: 30px;
    margin:5;
    color: #2a2acc	;
    padding: 15px;
    font-weight: bold;
    font-size:18
}

#resultWrapper{
    display: flex;
}

.resultContent{
    border: 2px none none;
    border-radius: 2px;
    background-color: transparent;
    color: white;
    padding: 5px;
    font-family: "Lucida Console";
    font-weight: semi-bold;
}